*{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    margin-bottom: 0px;
}
form{
    width: 50%;
}
fieldset{
    border: 0px;
}
legend{
    font-size: 15pt;
}
div{
    padding: 1%;
}
input:focus{
    border: green 1px solid;
}
fieldset:hover{
    background-color: lightgreen;
}