*{
	box-sizing: border-box;
}
body{
	font-family: Arial;
	background-color: #B0D7FF;
	margin: 0px; /*esto es para que no salgan los bordes del color del body al footer*/
	padding: 0px;
}
header{
	color: white;
	font-size: 25pt;
	text-align: center;
}
nav{
    color: white;
    background-color: #248232;
    padding: 1%;
    margin: 0px;
   	text-align: center;
   	font-size: 18pt;
}
#envoltorio{
	display: flex;
	margin: 0px;
}
#envoltorio aside{
	flex:1 1 20%;
	color: white;
	padding: 2%;
}
#envoltorio aside img{
	margin: 0 auto;
	width: 100%;
	padding-top: 3%;
	padding-right: 10%;
	padding-left: 10%;
}
#envoltorio main{
	width: 50%;
	background-color: white;
	padding: 3%;

}
#envoltorio main article h3{
	font-size: 30pt;
}
#envoltorio main article p{
	font-size: 18pt;
}
#envoltorio aside .publicidad{
	background-color: white;
	border-radius: 40px;
	text-align: center;
	padding-top: 1%;
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom: 8%;
	color: black;
	font-size: 25pt;
	width: 100%;
	height: 30%;
	margin-top: 15%;

}
#envoltorio aside h3{
	font-size: 20pt;
	text-align: center;
}
footer{
	background-color: #248232;
	font-size: 30pt;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 3%;
}