
@font-face{
	font-family: Mohave-Regular;
	src: url('../fonts/Mohave-Regular.ttf');
}
h1{
	color: rgb(0, 87, 192);
	font-size: 2.6em;
	font-family: calibri, sans-serif;
	letter-spacing: 10px;
	font-weight: normal;
}
h2{
	font-family: Mohave-Regular, sans-serif;
	font-size: 1.5em;
	color: rgb(114, 114, 114);
	font-weight: normal;
}
p{
	font-family: Helvetica, Georgia, 'Times New Roman', serif;
	font-size: 0.8em;
	color: rgb(112, 112, 112);
}
body{
	background-color: rgb(221, 221, 221);
}
div{
	text-align: center;
}		
.fecha{
	text-transform: uppercase;
	font-size: 0.6em;
	font-weight: bold;
	color: rgb(124, 124, 124);
	letter-spacing: -1px;
	text-align: right;
}
.negrita{
	font-weight: bold;
}